@mixin theme {
  @font-face {
    font-family: 'Switzer';
    font-style: normal;
    font-weight: 1 999;
    src: url('./fonts/Switzer.ttf') format('truetype');
  }

  @font-face {
    font-family: 'JetBrainsMono';
    font-style: normal;
    font-weight: 1 999;
    src: url('./fonts/JetBrainsMono.ttf') format('truetype');
  }

  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 11%;
    --border: 0 0% 91%;
    --border-light: 230 20% 90%;
    --popover: 210 33% 98%;
    --muted: 0 0% 95%;
    --muted-foreground: 0 0% 65%;
  }

  .dark {
    --background: 230 8% 10%;
    --foreground: 0 0 98%;
    --border: 240 5% 25%;
    --ring: 225 50% 30%;

    --muted: 240 8% 16%;
    --muted-foreground: 240 6% 58%;

    --card: 228 10% 15%;
    --card-foreground: 228 5% 98%;

    --popover: 240 5% 8%;
    --popover-foreground: 240 5% 70%;

    --primary: 225 67% 50%;
    --primary-background: 220 35% 20%;
    --primary-foreground: 220 90% 70%;

    --secondary: 230 10% 22%;
    --secondary-background: 240 9.5% 18%;
    --secondary-foreground: 230 10% 95%;

    --red: 340 70% 35%;
    --red-background: 340 20% 16%;
    --red-foreground: 340 90% 70%;

    --orange: 27 65% 45%;
    --orange-background: 12 26% 15%;
    --orange-foreground: 27 94% 61%;

    --green: 155 65% 30%;
    --green-background: 170 30% 13%;
    --green-foreground: 155 63% 54%;
  }
}
