@font-face {
  font-family: 'Switzer';
  font-style: normal;
  font-weight: 1 999;
  src: url('./Switzer.ttf') format('truetype');
}

@font-face {
  font-family: 'JetBrainsMono';
  font-style: normal;
  font-weight: 1 999;
  src: url('./JetBrainsMono.ttf') format('truetype');
}